body {
  box-sizing: border-box;
  background-image: url("./assets/home.png");
  background-size: cover;
  height: 100vh;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-style: italic;
}

.container {
  margin: 0 auto;
}

.ancients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  gap: 20px;
  min-width: 40%;
  padding: 20px;
  margin-bottom: 50px;
}

.ancient-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 260px;
  width: 200px;
  transition: ease 0.3s;
  opacity: 0.7;
}

.ancient-card:hover {
  opacity: 1;
}

.card1 {
  background-image: url("./assets/Ancients/Azathoth.png");
}

.card-active {
  opacity: 1;
  outline: 2px solid white;
}
.card2 {
  background-image: url("./assets/Ancients/Cthulthu.png");
}

.card3 {
  background-image: url("./assets/Ancients/IogSothoth.png");
}

.card4 {
  background-image: url("./assets/Ancients/ShubNiggurath.png");
}

.text-dif {
  margin-bottom: 10px;
  text-align: center;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.text-dif-js {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 5px;
}

.button:active {
  opacity: 1;
  outline: 2px solid white;
}

.difficulty-level {
  opacity: 1;
  outline: 2px solid white;
}

.container-app {
  display: flex;
  justify-content: space-evenly;
}

.card-general {
  background-repeat: no-repeat;
  background-size: contain;
  height: 190px;
  width: 150px;
  margin-bottom: 30px;
}

.back-card {
  background-image: url("./assets/mythicCardBackground.png");
  cursor: pointer;
}
.mix-card-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wrapper-card {
  display: flex;
  position: relative;
}

.stage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.dot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  background-color: aqua;
  margin-bottom: 5px;
  font-size: 20px;
}

.text-stage {
  margin-bottom: 45px;
}

.stage-text {
  margin-bottom: 5px;
}

.green {
  background-color: rgba(0, 128, 0, 0.51);
}

.brown {
  background-color: rgba(112, 55, 22, 0.615);
}

.blue {
  background-color: rgba(0, 0, 255, 0.341);
}

.hidden {
  opacity: 0;
  transition: ease 1s;
}
